@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OH HAI!</title>
    <style>
        html {
            font-family: Arial, helvetica, sans-serif;
            font-size: small;
        }
         div.photo
         {
             width: 160px;
             height: 200px;
             padding: 0;
             margin: 4px;
             float: left;
             position: relative;
         }
        div.photo img
        {
            position: absolute;
        }
        div.photo div
        {
            background-color: #000;
            color: #fff;
            position: absolute;
            top: 172px;
            left: 0px;
            right: 0px;
            opacity: 0.75;
            height: 16px;
            text-align: center;
            padding: 6px;
            
        }
    </style>
</head>
<body>
    <header>
            <a href="@Url.Action("Me", "Home")">@User.Identity.Name</a>
        </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
