@using GroupHug.Website.Services
@model IEnumerable<GroupHug.Website.Services.Employee>
<h2>
    Spotlight People!</h2>
@foreach (var employee in Model) {
    <img src="@employee.ImageUrl" alt="@employee.DisplayName" title="@employee.DisplayName"/>
}
<hr style="clear: both;" />
Missing? <a href="@Url.Action("Me", "Home")">Add Yourself Here!</a> 